<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>晟朗博通</title>
    <script src={JS_PATH}/myjs/jquery.js></script>
    <script src={JS_PATH}/myjs/shenglang.js></script>
    <link rel="stylesheet" href="{CSS_PATH}/mycss/shenglang.css">
</head>
<body>
<!-- head开始 -->
<div class="head">
    <div class="w1002">
        <div class="logo">
            <img src="{IMG_PATH}/myimg/logo.jpg" alt="">
        </div>
        <div class="top_nav">
            <a href="index.php">返回首页</a>
            <a href="">加入收藏</a>
            <a href="">设为首页</a>
        </div>
    </div>
</div>
<!-- head结束 -->
<!-- nav_banner开始 -->
<div class="nb">
    <!-- nav开始 -->
    <div class="nav">
        <div class="x1">
            <a href="{siteurl($siteid)}"class="sy">
                <img src="{IMG_PATH}/myimg/nav_a1.jpg" alt="">
            </a>
        </div>
        {pc:content action="category"catid="18"num="8"}
        <div class="x1">
            <div class="yincang">
                <div class="xiala">
                    <a href="{$CATEGORYS[24][url]}  "class="aa2"><img src="{IMG_PATH}/myimg/nav_a2_H.jpg" alt=""/></a>
                </div>
                <div class="xialaa">
                    <dl>
                        {loop  $data  $v}
                        <dt><a href="{$v[url]}">{$v[catname]}</a></dt>
                        {/loop}
                    </dl>
                </div>
            </div>
            <a href=""class="dhl">
                <img src="{IMG_PATH}/myimg/nav_a2.jpg" alt="">
            </a>
        </div>
        {/pc}
        {pc:content action="category"catid="19"num="8"}
        <div class="x1">
            <div class="yincang">
                <div class="xiala">
                    <a href="{$CATEGORYS[25][url]}  "class="aa3"><img src="{IMG_PATH}/myimg/nav_a3_H.jpg" alt=""/></a>
                </div>
                <div class="xialaa">
                    <dl>
                        {loop  $data  $v}
                        <dt><a href="{$v[url]}">{$v[catname]}</a></dt>
                        {/loop}
                    </dl>
                </div>
            </div>
            <a href=""class="dhl">
                <img src="{IMG_PATH}/myimg/nav_a3.jpg" alt="">
            </a>
        </div>
        {/pc}
        {pc:content action="category"catid="27"num="8"}
        <div class="x1">
            <div class="yincang">
                <div class="xiala">
                    <a href="{$CATEGORYS[36][url]}  "class="aa4"><img src="{IMG_PATH}/myimg/nav_a4_H.jpg" alt=""/></a>
                </div>
                <div class="xialaa">
                    <dl>
                        {loop  $data  $v}
                        <dt><a href="{$v[url]}">{$v[catname]}</a></dt>
                        {/loop}
                    </dl>
                </div>
            </div>
            <a href=""class="dhl">
                <img src="{IMG_PATH}/myimg/nav_a4.jpg" alt="">
            </a>
        </div>
        {/pc}
        {pc:content action="category"catid="28"num="8"}
        <div class="x1">
            <div class="yincang">
                <div class="xiala">
                    <a href="{$CATEGORYS[41][url]}  "class="aa5"><img src="{IMG_PATH}/myimg/nav_a5_H.jpg" alt=""/></a>
                </div>
                <div class="xialaa">
                    <dl>
                        {loop  $data  $v}
                        <dt><a href="{$v[url]}">{$v[catname]}</a></dt>
                        {/loop}
                    </dl>
                </div>
            </div>
            <a href=""class="dhl">
                <img src="{IMG_PATH}/myimg/nav_a5.jpg" alt="">
            </a>
        </div>
        {/pc}
        {pc:content action="category"catid="29"num="8"}
        <div class="x1">
            <div class="yincang">
                <div class="xiala">
                    <a href="{$CATEGORYS[46][url]}  "class="aa6"><img src="{IMG_PATH}/myimg/nav_a6_H.jpg" alt=""/></a>
                </div>
                <div class="xialaa">
                    <dl>
                        {loop  $data  $v}
                        <dt><a href="{$v[url]}">{$v[catname]}</a></dt>
                        {/loop}
                    </dl>
                </div>
            </div>
            <a href=""class="dhl">
                <img src="{IMG_PATH}/myimg/nav_a6.jpg" alt="">
            </a>
        </div>
        {/pc}
        {pc:content action="category"catid="30"num="8"}
        <div class="x1">
            <div class="yincang">
                <div class="xiala">
                    <a href="{$CATEGORYS[47][url]}  "class="aa7"><img src="{IMG_PATH}/myimg/nav_a7_H.jpg" alt=""/></a>
                </div>
                <div class="xialaa">
                    <dl>
                        {loop  $data  $v}
                        <dt><a href="{$v[url]}">{$v[catname]}</a></dt>
                        {/loop}
                    </dl>
                </div>
            </div>
            <a href=""class="dhl">
                <img src="{IMG_PATH}/myimg/nav_a7.jpg" alt="">
            </a>
        </div>
        {/pc}
        {pc:content action="category"catid="31"num="8"}

        <div class="x1">
            <div class="yincang">
                <div class="xiala">
                    <a href="{$CATEGORYS[48][url]}  "class="aa8"><img src="{IMG_PATH}/myimg/nav_a8_H.jpg" alt=""/></a>
                </div>
                <div class="xialaa">
                    <dl>
                        {loop  $data  $v}
                        <dt><a href="{$v[url]}">{$v[catname]}</a></dt>
                        {/loop}
                    </dl>
                </div>
            </div>
            <a href=""class="dhw">
                <img src="{IMG_PATH}/myimg/nav_a8.jpg" alt="">
            </a>
        </div>
        {/pc}
    </div>
    <!-- nav结束 -->
    <div class="dh14"></div>
    <!-- banner开始 -->
    {pc:content action="position" posid="2" order="listorder DESC" num="4"}
    <div class="banner">
        <div class="pic">
            {loop $data $v}
            <a href="{$v[url]}"><img src="{$v[thumb]}" alt=""></a>
            {/loop}
        </div>
        <ul class="slider">
            <div class="kkk">
                <li class="hot"></li>
                <li></li>
                <li></li>
                <li></li>
            </div>
        </ul>
    </div>
    {/pc}
    <!-- banner结束 -->
</div>
<!-- nav_banner结束 -->
<!-- 欢迎开始 -->
<div class="wel">
    <div class="welcome">
        <img src="{IMG_PATH}/myimg/hy.jpg" alt="">
    </div>
</div>
<!-- 欢迎结束 -->